.wrapper {
  max-height: 1300px;
  position: relative;
}

.sectionWrapper {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sectionWrapper img {
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 80vw;
  object-fit: cover;
  transition: all 1s;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
.textWrapper p {
  margin-top: 30px;
}

.textWrapper h2 {
  margin: 15px 0 20px 0;
  max-width: 400px;
}

@media (max-width: 992px) {
}
@media (max-width: 770px) {
  .sectionWrapper {
    position: static;
    transform: translate(0);
  }
  .wrapper {
    margin: 0;
    height: auto;
  }
  .sectionWrapper {
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    height: auto;
  }
  .sectionWrapper img {
    margin: 0 auto;
    /* height: 500px; */
    margin: 40px auto 100px auto;
    padding: 0;
  }
  .textWrapper {
    padding-right: 0;
  }
  .textWrapper h2 {
    text-align: center;
    margin: 15px auto;
  }
  .textWrapper h1 {
    text-align: center;
  }
  .textWrapper p {
    display: none;
  }
}
@media (max-width: 420px) {
  .sectionWrapper {
    padding-top: 100px;
  }
}

@keyframes morphToHome {
  from {
    border-radius: 42% 58% 70% 30% / 30% 79% 21% 70%;
  }
  to {
    border-radius: 35% 71% 41% 54% / 74% 55% 48% 25%;
  }
}

@keyframes morphToPhoto {
  from {
    border-radius: 35% 71% 41% 54% / 74% 55% 48% 25%;
  }
  to {
    border-radius: 42% 58% 70% 30% / 30% 79% 21% 70%;
  }
}

.homePage {
  border-radius: 35% 71% 41% 54% / 74% 55% 48% 25%;
  animation: morphToHome 1s ease-in-out forwards;
}

.photoPage {
  border-radius: 42% 58% 70% 30% / 30% 79% 21% 70%;
  animation: morphToPhoto 1s ease-in-out forwards;
}
