.paddingTop {
  margin-top: 150px;
}

.eventsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
.iconTextDiv {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  align-items: end;
}
@media (max-width: 992px) {
  .eventsWrapper {
    flex-direction: column;
  }
}
