.footMainWrapper {
  background-color: var(--color4);
  position: relative;
}
.wave {
  position: absolute;
  transform: translate(0, -50%);
  width: 100%;
}

.footWrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 4%;
  color: var(--white);
  position: relative;
  z-index: 1;
}

.footWrapper h2 {
  padding-bottom: 30px;
}

.footWrapper section {
  width: 25%;
}

@media (max-width: 1000px) {
  .footWrapper {
    flex-wrap: wrap;
    gap: 10%;
    position: relative;
  }
  .footWrapper section {
    min-width: 300px;
    margin-bottom: 10%;
  }
}
