.mainWrapper {
  position: relative;
  margin: 0;
}

/* Background Blur */
.background {
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: blur(60px);
  transform: translate(0, -50%);
  top: 60%;
}
/* PriceCards.module.css */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  cursor: default;
}
.cardWrap {
  position: relative;
  width: 250px;
}
.card:hover {
  z-index: 1;
}
.card {
  background-color: rgba(3, 23, 31, 0.5256);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(149, 149, 149, 0.37);
  transition: all 0.3s ease-in-out;
  width: 300px;
  position: relative;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  height: max-content;
  margin: 10% 0;
}
.cardWrap:nth-child(2) .card {
  justify-content: space-between;

  padding: 40px;
  width: 350px;
  margin: 0 0;
  gap: 6px;
}

.svgLogo {
  position: absolute;
  top: 50px;
  right: -150px;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.svgLight {
  filter: blur(60px);
  position: absolute;
  top: 0;
  right: -200px;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.title {
  margin-bottom: 20px;
}

.price {
  margin-bottom: 10px;
  color: var(--gray3);
  position: relative;
}
.saleBg {
  position: absolute;
  width: 150px;
  height: 8px;
  background-color: red;
  opacity: 0.8;
  left: -20px;
  top: 10px;
  transform: rotate(-5deg);
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 600;
}

.mainFeatures {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mainFeatures li {
  display: flex;
  gap: 15px;
  /* align-items: center; */
}
.mainFeatures svg {
  font-size: 17px;
  margin-bottom: -3px;
}

.dividerWrapper {
  overflow: hidden;
  border-radius: 40px;
  margin: 20px auto;
  width: 50%;
}
.divider1 {
  height: 1px;
  background-color: rgb(15, 15, 15);
}
.divider2 {
  height: 1px;
  background-color: rgba(37, 37, 37, 0.7);
}
.divider3 {
  height: 1px;
  background-color: rgb(62, 62, 62);
}
.divider4 {
  height: 1px;
  background-color: rgba(31, 31, 31, 0.7);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.features li {
  display: flex;
  gap: 15px;
}

.features svg {
}

.button1 {
  margin-top: 30px;
  width: 100%;
}
.button2 {
  display: none;
}

.blue {
  color: var(--blue1);
}
.yellow {
  color: var(--yellow1);
}
.red {
  color: var(--red2);
}
.bgBlue {
  background-color: var(--blue2);
}
.bgYellow {
  background-color: var(--yellow2);
}
.bgRed {
  background-color: var(--red2);
}

@media (min-width: 1300px) {
  .cardWrap {
    width: auto;
  }
  .container {
    justify-content: space-evenly;
  }

  .cardWrap:nth-child(2) {
    width: 350px;
  }
  .card {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .features,
  .dividerWrapper {
    display: none;
  }
  .container {
    flex-direction: column;
  }
  .cardWrap {
    width: 100%;
  }

  .button1 {
    display: none;
  }
  .button2 {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 50px;
    width: 200px;
    z-index: 3;
  }
  .subtitle {
    max-width: 80%;
  }
  .cardWrap:nth-child(2) .card,
  .card {
    justify-content: space-between;
    padding: 25px;
    margin: 5% 0;
    height: max-content;
    gap: 0;
    width: 100%;
    aspect-ratio: 2 / 1.2;
  }
  .priceWrap {
    display: flex;
    gap: 40px;
    margin-top: 0;
  }
  .title {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .saleBg {
    top: 7px;
    height: 5px;
  }
}
@media (max-width: 576px) {
  .cardWrap:nth-child(2) .card,
  .card {
    padding: 15px;
    /* height: 220px; */
    margin: 20px 0;
  }

  .subtitle {
    max-width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 18px;
  }
  .mainFeatures {
    color: var(--gray5);
  }
  .title {
    position: static;
    width: 100%;
    text-align: center;
    height: 5px;
    margin-top: -10px;
  }
  .priceWrap {
    display: flex;
    margin-top: 10px;
  }
  .price {
    margin-bottom: 0;
  }
  .button2 {
    bottom: 0;
    width: max-content;
  }
}
