.extraWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.navigationWrapper {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 99;
}
.middleNav {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  text-wrap: noWrap;
  display: flex;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.logoWrapper img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  position: absolute;
  animation: rotateLogo 20s linear infinite;
}

.loginIcon {
  font-size: 32px;
  color: var(--gray9);
  display: flex;
  transition: all 0.3s;
}

.openCloseIcon {
  color: var(--gray9);
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s;
  margin-left: 20px;
}
.loginIcon:hover,
.openCloseIcon:hover {
  color: var(--gray7);
}

@media (min-width: 993px) {
  .openCloseIcon {
    display: none;
  }
}

@media (max-width: 992px) {
  .loginIcon {
    font-size: 25px;
    padding-top: 5px;
  }
  .loginIcon {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    margin-left: 35px;
    margin-top: -3px;
  }
  .middleNav {
    left: 48%;
  }
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
