.wrapper {
  display: flex;
  position: absolute;
  justify-content: end;
  right: 3vw;
  bottom: 2vw;
}
.wrapper img {
  width: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 1100px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .wrapper {
    position: static;
    flex-direction: row;
    margin: 0 auto;
    width: max-content;
  }
}
