.eachWrapper {
  max-width: 280px;
}
.menuWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
}

.reserv {
  color: var(--primaryColor);
}
.menu {
  display: flex;
  color: var(--textLight);
}
