.eventWrap {
  margin: 0 0 5px 0;
  display: flex;
}

.eventWrap h3 {
  font-weight: 500;
}

.eventWrap p {
  margin-right: 10px;
}
.eventWrap p:hover {
  color: var(--white);
}
.eventWrap h3:hover {
  color: var(--white);
}
