/* <div className={`buttonCard ${styles.button}`}>
<p></p>
<span></span>
<button>get in touch</button>
</div> */
.buttonCard {
  width: max-content;
  height: max-content;
  background: hsla(0, 0%, 28%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.5s ease;
  font-family: var(--font1);
  font-size: 15px;
  font-weight: 500;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(211, 211, 211, 0.145);
}

.buttonCard p {
  background-color: var(--red2);
  padding: 4px 35px;
  position: absolute;
  z-index: -1;
  filter: blur(20px);
  bottom: 0;
  right: -20px;
}

.buttonCard span {
  background-color: var(--yellow2);
  padding: 4px 35px;
  position: absolute;
  z-index: -1;
  filter: blur(20px);
  top: 0;
  left: 0;
}
.buttonCard button {
  color: var(--blue1);
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  transition: all 0.3s;
}
.buttonCard:hover button {
  color: var(--blue1);
}

.buttonCard::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, var(--blue1));
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.buttonCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--blue1);
}

.buttonCard:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
