.button {
  /* border: 2px solid var(--primary3); */
  background-color: var(--primary5);
  color: var(--white);
  font-family: var(--font2);
  width: max-content;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  justify-content: center;
  padding: 8px 20px;
  transition: all 0.2s;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-small {
  padding: 5px 10px;
}

/* button1 START */
.button:hover {
  background-color: var(--primary7);
}

.button-reverse {
  color: var(--black);
  background-color: var(--gray1);
  /* border: 2px solid var(--primary8); */
}
.button-reverse:hover {
  background-color: var(--gray3);
}

.button-bold {
  font-weight: 700;
}

.buttonDisabled {
  background-color: var(--gray3);
  border: 2px solid var(--gray3);
  color: var(--white);
  cursor: default;
}
.buttonDisabled:hover {
  background-color: var(--gray3);
  border: 2px solid var(--gray3);
}
/* button1 END */
