body {
  background-color: var(--primary9);
}

:root {
  --primary0: #e7f5f5;
  --primary1: #daf0f0;
  --primary2: #b3dfe0;
  --primary3: #0b989b;
  --primary4: #0a898c;
  --primary5: #097a7c;
  --primary6: #087274;
  --primary7: #075b5d;
  --primary8: #054446;
  --primary9: #032f30;

  --secondary0: #f7f7f7;
  --secondary1: #fef6d6;
  --secondary2: #feedad;
  --secondary3: #fde384;
  --secondary4: #fdda5c;
  --secondary5: #fcd133;
  --secondary6: #cba829;
  --secondary7: #9a801f;
  --secondary8: #695714;
  --secondary9: #382f0a;

  --accent0: #e9eff5;
  --accent1: #bbcfe1;
  --accent2: #9ab7d3;
  --accent3: #6c96bf;
  --accent4: #5082b2;
  --accent5: #24639f;
  --accent6: #24639f;
  --accent7: #1a4671;
  --accent8: #143657;
  --accent9: #0f2a43;

  --gray0: #f0f0f0;
  --gray1: #d9dcdc;
  --gray2: #c7cbcb;
  --gray3: #adb3b3;
  --gray4: #9da5a5;
  --gray5: #858e8e;
  --gray6: #798181;
  --gray7: #5e6565;
  --gray8: #494e4e;
  --gray9: #383c3c;

  --primary: #5888a6;
  --secondary: #a1654e;
  --accent: #24639f;
  --white: #f2f2f3;
  --black: #0d1014;
  --gradient1:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(51.87deg, #ff6457 -11.28%, #80eeff 149.97%);
  --gradient2: linear-gradient(63.51deg, #b22317 -19.21%, #0c7e80 83.37%);

  --overlay1: #525252d1;
  --overlay2: #0000008b;
  --overlay3: #000000d1;
}

/* Primary colors */
.primary0 {
  color: var(--primary0);
}
.primary1 {
  color: var(--primary1);
}
.primary2 {
  color: var(--primary2);
}
.primary3 {
  color: var(--primary3);
}
.primary4 {
  color: var(--primary4);
}
.primary5 {
  color: var(--primary5);
}
.primary6 {
  color: var(--primary6);
}
.primary7 {
  color: var(--primary7);
}
.primary8 {
  color: var(--primary8);
}
.primary9 {
  color: var(--primary9);
}

/* secondary colors */
.secondary0 {
  color: var(--secondary0);
}
.secondary1 {
  color: var(--secondary1);
}
.secondary2 {
  color: var(--secondary2);
}
.secondary3 {
  color: var(--secondary3);
}
.secondary4 {
  color: var(--secondary4);
}
.secondary5 {
  color: var(--secondary5);
}
.secondary6 {
  color: var(--secondary6);
}
.secondary7 {
  color: var(--secondary7);
}
.secondary8 {
  color: var(--secondary8);
}
.secondary9 {
  color: var(--secondary9);
}

/* accent colors */
.accent0 {
  color: var(--accent0);
}
.accent1 {
  color: var(--accent1);
}
.accent2 {
  color: var(--accent2);
}
.accent3 {
  color: var(--accent3);
}
.accent4 {
  color: var(--accent4);
}
.accent5 {
  color: var(--accent5);
}
.accent6 {
  color: var(--accent6);
}
.accent7 {
  color: var(--accent7);
}
.accent8 {
  color: var(--accent8);
}
.accent9 {
  color: var(--accent9);
}

/* gray colors */
.gray0 {
  color: var(--gray0);
}
.gray1 {
  color: var(--gray1);
}
.gray2 {
  color: var(--gray2);
}
.gray3 {
  color: var(--gray3);
}
.gray4 {
  color: var(--gray4);
}
.gray5 {
  color: var(--gray5);
}
.gray6 {
  color: var(--gray6);
}
.gray7 {
  color: var(--gray7);
}
.gray8 {
  color: var(--gray8);
}
.gray9 {
  color: var(--gray9);
}

/* main color aliases */
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.accent {
  color: var(--accent);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Backgrounds - primary */
.bg-primary0 {
  background-color: var(--primary0);
}
.bg-primary1 {
  background-color: var(--primary1);
}
.bg-primary2 {
  background-color: var(--primary2);
}
.bg-primary3 {
  background-color: var(--primary3);
}
.bg-primary4 {
  background-color: var(--primary4);
}
.bg-primary5 {
  background-color: var(--primary5);
}
.bg-primary6 {
  background-color: var(--primary6);
}
.bg-primary7 {
  background-color: var(--primary7);
}
.bg-primary8 {
  background-color: var(--primary8);
}
.bg-primary9 {
  background-color: var(--primary9);
}

/* Backgrounds - secondary */
.bg-secondary0 {
  background-color: var(--secondary0);
}
.bg-secondary1 {
  background-color: var(--secondary1);
}
.bg-secondary2 {
  background-color: var(--secondary2);
}
.bg-secondary3 {
  background-color: var(--secondary3);
}
.bg-secondary4 {
  background-color: var(--secondary4);
}
.bg-secondary5 {
  background-color: var(--secondary5);
}
.bg-secondary6 {
  background-color: var(--secondary6);
}
.bg-secondary7 {
  background-color: var(--secondary7);
}
.bg-secondary8 {
  background-color: var(--secondary8);
}
.bg-secondary9 {
  background-color: var(--secondary9);
}

/* Backgrounds - accent */
.bg-accent0 {
  background-color: var(--accent0);
}
.bg-accent1 {
  background-color: var(--accent1);
}
.bg-accent2 {
  background-color: var(--accent2);
}
.bg-accent3 {
  background-color: var(--accent3);
}
.bg-accent4 {
  background-color: var(--accent4);
}
.bg-accent5 {
  background-color: var(--accent5);
}
.bg-accent6 {
  background-color: var(--accent6);
}
.bg-accent7 {
  background-color: var(--accent7);
}
.bg-accent8 {
  background-color: var(--accent8);
}
.bg-accent9 {
  background-color: var(--accent9);
}

/* Backgrounds - gray */
.bg-gray0 {
  background-color: var(--gray0);
}
.bg-gray1 {
  background-color: var(--gray1);
}
.bg-gray2 {
  background-color: var(--gray2);
}
.bg-gray3 {
  background-color: var(--gray3);
}
.bg-gray4 {
  background-color: var(--gray4);
}
.bg-gray5 {
  background-color: var(--gray5);
}
.bg-gray6 {
  background-color: var(--gray6);
}
.bg-gray7 {
  background-color: var(--gray7);
}
.bg-gray8 {
  background-color: var(--gray8);
}
.bg-gray9 {
  background-color: var(--gray9);
}

/* Background color aliases */
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-accent {
  background-color: var(--accent);
}

/*  */
