/* Variables */
:root {
  --blue: #007bff;
  --green: #28a745;
  --red: #dc1c2f;
  --yellow: #ffc107;

  /* used for photo overlay to write text over */
  --overlayLight: rgba(228, 228, 228, 0.719);
  --overlay: rgba(0, 0, 0, 0.526);
  --overlayDark: rgba(0, 0, 0, 0.768);

  /* gray colors */
  --white: rgb(255, 255, 255);
  --gray3: rgb(200, 200, 200);
  --gray5: rgb(150, 150, 150);
  --gray7: rgb(90, 90, 90);
  --gray9: rgb(40, 40, 40);
  --black: #25313c;

  /* project colors */
  /* color1 = bright color */
  /* color5 = dark color */
  --color1: #c8e2ff;
  --color2: #5ba2ff;
  --color3: #0069c6;
  --color4: #003d73;
  --color5: #002240;
  --color6: #e20001;

  --color2-10: hsla(214, 100%, 68%, 0.1);
  --color4-10: hsla(208, 100%, 23%, 0.05); /*opacity 10*/
  --color4-20: hsla(208, 100%, 23%, 0.1); /*opacity 20*/
  --color4-40: hsla(208, 100%, 23%, 0.4); /*opacity 40*/
  --color4-80: hsla(208, 100%, 23%, 0.8); /*opacity 80*/
}

/* Classes */
.white {
  color: var(--white);
}
.gray3 {
  color: var(--gray3);
}
.gray5 {
  color: var(--gray5);
}
.gray7 {
  color: var(--gray7);
}

.black {
  color: var(--black);
}
.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}
.bg-color1 {
  background-color: var(--color1);
}
.bg-color2 {
  background-color: var(--color2);
}
.bg-color3 {
  background-color: var(--color3);
}
.bg-color4 {
  background-color: var(--color4);
}
.bg-color5 {
  background-color: var(--color5);
}
