/* fonts */
:root {
  font-family: var(--font1); /* Nicer  font for Navigation  or Title etc... */
  font-family: var(--font2); /* fancy font can be not so much readable*/
  font-family: var(--font3); /* not readable hand writting etc...)*/
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.font3 {
  font-family: var(--font3);
}
.font4 {
  font-family: var(--font4);
}

/* burger nav link */
.burger-link {
  font-family: var(--font1);
  font-size: 15px;
  transition: all 0.2s;
  color: var(--primary1);
  text-transform: uppercase;
  font-weight: 500;
}
.active-burger-link {
  color: var(--black);
}

/* standart Nav link */
.link {
  font-family: var(--font2);
  font-size: 14px;
  transition: all 0.2s;
  color: var(--primary6);
  text-transform: uppercase;
  font-weight: 600;
}
.active-link {
  color: var(--primary9);
}
.link:hover {
  color: var(--primary8);
}

/* typography */
.heading1 {
  font-family: var(--font2);
  font-size: 48px;
  text-transform: uppercase;
  text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.32);
  line-height: 100%;
}
.heading2 {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}
.heading3 {
  /* font-family: var(--font1); */
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.heading4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.heading5 {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.heading6 {
}

.paragraph {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.paragraph-bold {
  font-weight: 700;
}
.caption {
  font-family: var(--font1);
  line-height: 150%;
  font-weight: 600;
  font-size: 14px;
}
.caption:hover {
  color: var(--primary3);
}
.caption-mini {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 12px;
  line-height: 150.6%;
}

@media (max-width: 1000px) {
  .paragraph {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .paragraph {
  }
}

/* Break point 1200px */
@media (max-width: 1200px) {
  .heading1 {
    font-size: 60px;
  }
}

/* Break point 992px */
@media (max-width: 992px) {
  /* .heading1 {
  } */
}

/* Break point 768px */
@media (max-width: 768px) {
  /* .heading1 {
  } */
}

/* Break point 576px */
@media (max-width: 576px) {
  /* .heading1 {
  } */
  .heading2 {
    font-size: 30px;
  }
}

/* Break point 400px */
@media (max-width: 400px) {
  /* .heading1 {
  } */
}
