/* fonts */
:root {
  font-family: var(--font1); /* Nicer  font for Navigation  or Title etc... */
  font-family: var(--font2); /* fancy font can be not so much readable*/
  font-family: var(--font3); /* not readable hand writting etc...)*/
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.font3 {
  font-family: var(--font3);
}
.font4 {
  font-family: var(--font4);
}

/* burger nav link */
.burger-link {
  font-family: var(--font2);
  font-size: 15px;
  transition: all 0.2s;
  color: var(--color1);
  text-transform: uppercase;
}
.burger-link:hover {
  color: var(--color2);
}
.active-burger-link {
  color: var(--color2);
}

/* standart Nav link */
/* Base Link Styles */
.link {
  text-transform: lowercase;
  font-family: var(--font2);
  font-size: 17px;
  transition: all 0.2s;
  color: var(--gray3);
}
.link:hover {
  text-shadow: 0 5px 20px var(--blue1);
}

/* Active Link Style */
.active-link {
  color: var(--blue1);
}
.active-link:hover {
  color: var(--blue1);
  font-size: 17px;
  transition: all 0.2s;
}

.heading1 {
  line-height: 95%;
  font-family: var(--font3);
}

.heading2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: 0.02em;
}

.heading3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 108%;
}
.heading4 {
  font-size: 20px;
  line-height: 38px;
  /* font-family: var(--font2); */
}

.heading5 {
  font-size: 20px;
  font-weight: 600;
}
.heading6 {
  font-size: 18px;
  font-weight: 600;
}
.paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  /* font-family: var(--font1); */
}
.paragraph-bold {
  font-weight: 700;
}
.caption {
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  transition: all 0.3s;
}
.caption-mini {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 10px;
}
@media (max-width: 1200px) {
  .heading2 {
    font-size: 36px;
    line-height: 34px;
  }
  .heading3 {
    font-size: 22px;
  }
  .heading4 {
    font-size: 19px;
  }
  .heading5 {
    font-size: 19px;
  }
  .heading6 {
    font-size: 17px;
  }
  .paragraph {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .heading2 {
    font-size: 32px;
    line-height: 32px;
  }
  .heading3 {
    font-size: 20px;
  }
  .heading4 {
    font-size: 18px;
  }
  .heading5 {
    font-size: 18px;
  }
  .heading6 {
    font-size: 16px;
  }
  .paragraph {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .heading2 {
    font-size: 28px;
    line-height: 30px;
  }
  .heading3 {
    font-size: 18px;
  }
  .heading4 {
    font-size: 17px;
  }
  .heading5 {
    font-size: 17px;
  }
  .heading6 {
    font-size: 15px;
  }
  .paragraph {
    font-size: 13px;
  }
}

/* @media (max-width: 576px) {
  .heading2 {
    font-size: 24px;
    line-height: 28px;
  }
  .heading3 {
    font-size: 17px;
  }
  .heading4 {
    font-size: 16px;
  }
  .heading5 {
    font-size: 16px;
  }
  .heading6 {
    font-size: 14px;
  }
  .paragraph {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .heading2 {
    font-size: 22px;
    line-height: 26px;
  }
  .heading3 {
    font-size: 16px;
  }
  .heading4 {
    font-size: 15px;
  }
  .heading5 {
    font-size: 15px;
  }
  .heading6 {
    font-size: 13px;
  }
  .paragraph {
    font-size: 12px;
  }
} */
