/* fonts */
:root {
  font-family: var(--font1); /* Nicer  font for Navigation  or Title etc... */
  font-family: var(--font2); /* fancy font can be not so much readable*/
  font-family: var(--font3); /* not readable hand writting etc...)*/
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.font3 {
  font-family: var(--font3);
}
.font4 {
  font-family: var(--font4);
}

/* burger nav link */
.burger-link {
  font-family: var(--font1);
  font-size: 15px;
  transition: all 0.2s;
  color: var(--color1);
  text-transform: uppercase;
  font-weight: 500;
}
.burger-link:hover {
  color: var(--color2);
}
.active-burger-link {
  color: var(--color2);
}

/* standart Nav link */
.link {
  font-family: var(--font1);
  font-size: 14px;
  transition: all 0.2s;
  color: var(--color3);
  text-transform: uppercase;
  font-weight: 600;
}
.active-link {
  color: var(--color5);
}
.link:hover {
  color: var(--color5);
}

/* typography */
.heading1 {
  font-weight: 800;
  font-size: 46px;
  line-height: 54px;
}

.heading2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  font-family: var(--font1);
}

.heading3 {
  font-family: var(--font1);
  font-weight: 700;
  font-size: 24px;
  line-height: 108%;
}
.heading4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-family: var(--font1);
}

.heading5 {
  font-size: 20px;
  font-weight: 600;
}
.heading6 {
  font-family: var(--font3);
  font-size: 38px;
  font-weight: 600;
}
.paragraph {
  font-size: 17px;
  font-weight: 500;
  line-height: 160%;
}
.paragraph-bold {
  font-weight: 700;
}
.caption {
  font-size: 16px;
  font-family: var(--font1);
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
  transition: all 0.3s;
}
.caption:hover {
  color: var(--gray3);
}
.caption-mini {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font1);
}

@media (max-width: 1000px) {
  .paragraph {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .paragraph {
    font-size: 13px;
  }
}

/* Break point 1200px */
@media (max-width: 1200px) {
  .heading1 {
    font-size: 60px;
  }
}

/* Break point 992px */
@media (max-width: 992px) {
  /* .heading1 {
  } */
}

/* Break point 768px */
@media (max-width: 768px) {
  /* .heading1 {
  } */
}

/* Break point 576px */
@media (max-width: 576px) {
  /* .heading1 {
  } */
  .heading2 {
    font-size: 30px;
  }
}

/* Break point 400px */
@media (max-width: 400px) {
  /* .heading1 {
  } */
}
