.cardWrapper {
  width: 49%;
  border-radius: 8px;
  margin-bottom: 4%;
}

.cardWrapper img {
  object-fit: cover;
  height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
}

.date {
  margin: 13px 0 0 0;
}
.cardWrapper p {
  margin-top: 10px;
}

.button svg {
  margin: auto 5px auto 10px;
  rotate: -30deg;
  transition: all 0.3s;
}
.button {
  margin-top: 20px;
  width: max-content;
  padding: 5px 8px;
  border: 2px solid var(--gray3);
  border-radius: 5px;
  color: var(--gray7);
  display: flex;
  transition: all 0.3s;
}
.button:hover {
  background-color: var(--gray3);
}
.button:hover svg {
  transform: translateX(8px); /* Move the SVG 10px to the right */
}

@media (max-width: 992px) {
  .cardWrapper {
    width: 100%;
  }
}
