.collectionWrapper section {
  border-bottom: 1px solid var(--gray-700);
}
.collectionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
.title {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.button {
  margin-left: auto;
}
.meMonitor {
  position: absolute;
  object-fit: contain;
  left: 10vw;
  margin-top: -50px;
  z-index: -1;
  width: 150px;
  height: 150px;
}

@media (max-width: 992px) {
  .meMonitor {
    display: none;
  }
}
