.mainWrapper {
  padding: 50px 0;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.albumWrapper {
  position: relative;
  max-width: 100vw;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}
.mainWrapper h1 {
  padding-bottom: 20px;
  padding-top: 10px;
  min-width: 300px;
  max-width: 700px;
  width: max-content;
  margin: 0 auto;
}

.mainWrapper p {
  padding-bottom: 20px;
  min-width: 300px;
  max-width: 500px;
  width: max-content;
  margin: 0 auto;
}
