.cardWrapper {
  width: 32%;
  border-radius: 8px;
  margin-bottom: 4%;
  margin: 2% auto;
}

.cardWrapper img {
  object-fit: cover;
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
}

.topDiv span {
  font-size: 12px;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  padding: 0 7px;
  border-radius: 4px;
}
.caption {
  background-color: var(--color1);
  padding: 3px 7px;
  border-radius: 5px;
}

.topDiv {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.button svg {
  margin: auto 5px auto 10px;
  rotate: -30deg;
  transition: all 0.3s;
}
.button {
  margin-top: 20px;
  width: max-content;
  padding: 7px 12px;
  padding-left: 20px;
  border: 2px solid var(--gray3);
  border-radius: 5px;
  color: var(--gray7);
  display: flex;
  transition: all 0.3s;
  background-color: var(--white);
}
.button:hover {
  background-color: var(--gray3);
}
.button:hover svg {
  transform: translateX(8px); /* Move the SVG 10px to the right */
}

@media (max-width: 992px) {
  .cardWrapper {
    width: 100%;
    padding-bottom: 50px;
  }
}
