.heroWrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  min-height: 700px;
  max-height: 1300px;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 10vh;
}
.bgImage {
  height: 100%;
  width: 100%;
  filter: blur(120px);
  position: absolute;
  object-fit: cover;

  z-index: -1;
  opacity: 0.3;
}
.topDiv {
  display: flex;
  justify-content: space-between;
}
.textDiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
.textDiv strong {
  color: var(--red2);
}
.textDiv h1 {
  flex-wrap: wrap;
  text-wrap: noWrap;
  color: var(--blue2);
  font-size: 6vw;
}
.textDiv h2 {
  max-width: 30vw;
}

.button {
  margin-top: 5vh;
}
.middleDiv {
  display: flex;
}
.buble {
  height: 320px;
  margin-top: -8vh;
  margin-right: -4vw;
  object-fit: contain;
  right: 0vw;
  top: 50px;
}
.monitors {
  max-width: 800px;
  position: absolute;
  width: 63vw;
  top: 23vh;
  right: 1vw;
  margin-right: 0;
}
.camera {
  position: absolute;
  left: 20vw;
  bottom: 23vh;
  width: 220px;
  z-index: 1;
}
.cactus {
  width: 300px;
  height: 250px;
  right: 150px;
  position: absolute;
  bottom: -40px;
}
@media (min-width: 1600px) {
  .textDiv h1 {
    font-size: 95px;
  }
  .monitors {
    top: 30vh;
  }
  .cactus {
    bottom: 7vh;
  }
  .camera {
    bottom: 30vh;
  }
}
@media (max-width: 992px) {
  .bgImage {
    opacity: 0.5;
  }
  .cactus {
    right: 10vw;
    bottom: 14vh;
  }
}
@media (max-width: 768px) {
  .cactus {
    bottom: 20vh;
    right: 5vw;
  }

  .cactus {
    width: 35vw;
    min-width: 180px;
  }
  .buble,
  .camera {
    width: 30vw;
    min-width: 150px;
  }
  .buble {
    position: absolute;
    right: 5vw;
    top: 18vh;
  }

  .monitors {
    margin-top: 40px;
    position: static;
    width: 100%;
    top: auto;
    bottom: 25vh;
  }

  .textDiv h1 {
    font-size: 8vw;
  }
  .textDiv h2 {
    max-width: unset;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
  }

  .camera {
    position: static;
    margin-top: -80px;
    object-fit: contain;
  }
  .cactus {
    position: static;
  }
  .cameraCactus {
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
  }
  .middleDiv {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .cactus {
    margin-left: -30px;
  }
  .cameraCactus {
    margin-top: 10px;
  }
}
