.collectionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
.title {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.meCamera {
  position: absolute;
  right: 10vw;
  margin-top: -80px;
  transform: scaleX(-1);
  z-index: -1;
}

@media (max-width: 992px) {
  .meCamera {
    display: none;
  }
}
