.collectionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
.title {
  padding-top: 30px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.paddingBottom {
  padding-bottom: 70px;
}

@media (max-width: 992px) {
  .container {
    padding-top: 50px;
  }

  .eventsWrapper {
    flex-direction: column;
  }
}
