/* styles/Accordion.module.css */

.accordion {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  border-radius: var(--radius6);
  padding-bottom: 40px;
  padding-top: 40px;
}

.headTitle {
  padding: 40px 0 20px 0;
  width: 100%;
  text-align: center;
}

.eachAccordion {
  cursor: pointer;
  text-align: left;
  transition: all 0.2s ease-out;
  border-radius: var(--radius3);
}

.head {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  border: 2px solid var(--primary5);
  border-radius: var(--radius3);
}

.title {
  color: var(--primary2);
}

.titleActive {
  color: var(--primary3);
}

.accordion p {
  padding: 15px;
  padding-top: 0;
}

.accordion span {
  color: var(--primary5);
  font-size: 40px;
  line-height: 30px;
}

.active {
  background-color: var(--primary8);
  border: solid 2px var(--primary7);
  color: var(--secondary1);
}

.active div {
  border: none;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.show {
  max-height: 500px;
}

.hide {
  max-height: 0;
}

@media (max-width: 700px) {
  .accordion {
    grid-template-columns: 1fr;
  }

  .eachAccordion {
    width: 100%;
  }
}
