.wrapper {
  display: flex;
  justify-content: space-evenly;
}
.image {
  width: 360px;
  height: 190px;
  object-fit: fill;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 16px 32px rgba(0, 0, 0, 0.05);
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
