.photoTextWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.image {
  width: 50%;
  height: auto;
  object-fit: cover;
  border: 2px solid #013d73;
  filter: drop-shadow(-30px -30px #013d73);
  border-radius: 20px;
}

.textDiv h3 {
  margin-top: 70px;
}
.textDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textDiv p {
  padding-bottom: 50px;
  color: var(--gray7);
}
.iconTextDiv h2 {
  line-height: 40px;
}
.iconTextDiv {
  align-items: end;
  display: flex;
  gap: 20px;
}

@media (max-width: 772px) {
  .photoTextWrapper {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .image {
    width: 100%;
    margin: 0 auto;
    margin-right: -10px;
  }
  .textDiv {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .textDiv h3 {
    margin-top: 40px;
  }

  .iconTextDiv {
    margin: 0 auto;
  }
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}
.reverse p {
  margin: 30px auto;
}
