/************** Global Wrapper **************/

.mainWrapper {
  position: absolute;
  z-index: 1;
  bottom: 2vw;
}
.socialCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.mainWrapper h2 {
  margin: 10vh 0 2vh;
}

/************** Cards Container **************/
.cardsWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/************** Individual Card **************/
.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 180px;
  padding: 20px 10px;
  border-radius: 8px;
  margin-right: 10px;
  background: linear-gradient(
    135deg,
    rgba(40, 40, 40, 0.85),
    rgba(15, 15, 15, 0.85)
  );
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  background: linear-gradient(
    135deg,
    rgba(50, 50, 50, 0.9),
    rgba(20, 20, 20, 0.9)
  );
}

/************** Subtle Glowing Effect on Hover **************/
.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.05) 0%,
    transparent 70%
  );
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* Glows slightly when hovered */
.card:hover::before {
  opacity: 1;
}

/************** Card Image **************/
.card img {
  width: 60px;
  margin: 0 auto;
  margin-bottom: 15px;
}

/************** Title **************/
.card h3 {
  font-size: 20px;
  /* font-weight: 600; */
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 1px;
  /* margin-bottom: 5px; */
}

/************** Description **************/
.card p {
  font-size: 14px;
  margin: 0 auto;
  /* margin-bottom: 20px; */
  max-width: 90%;
  line-height: 120%;
}

/************** Button **************/
.card button {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(100, 100, 100, 0.1)
  );
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
}

/* Button Hover */
.card button:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(150, 150, 150, 0.2)
  );
  color: rgba(255, 255, 255, 1);
}

.socMedia img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
}
.socMedia {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .mainWrapper {
    display: none;
  }
}
