.mainWrapper {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-height: 1200px;
  min-height: 544px;
  margin: 0 auto;
  /* background-color: var(--secondary0); */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  z-index: 1;
}
.leftDiv h2 {
  max-width: 80%;
}
.leftDiv h2,
.leftDiv span {
  font-size: 1.8vw;
  padding-right: 20px;
  display: flex;
  gap: 10px;
}
.leftDiv h1 {
  margin: 2vh 0 3vh 0;
  font-size: 4vw;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15%;
}

.rightDiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  max-height: 100vh;
  min-height: 700px;
}
.judoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
}

.judoImageWrapper {
  position: relative;
  aspect-ratio: 4 / 4.5;
  height: auto;
  max-width: 350px;
  /* overflow: hidden; */
}

.judoImage {
  object-fit: cover;
  border-radius: var(--radius3);
}

/* Apply stagger to 2nd column items */
.judoGrid > .judoImageWrapper:nth-child(2n) {
  transform: translateY(-30%);
}

@media (min-width: 1400px) {
  .leftDiv h1 {
    font-size: 52px;
  }
  .leftDiv h2,
  .leftDiv span {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .mainWrapper {
    padding: 0 10px;
  }

  .container {
    padding: 0 8px;
  }
  .leftDiv h1 {
    font-size: 35px;
    color: var(--primary3);
  }

  .leftDiv h2,
  .leftDiv span {
    font-size: 18px;
  }
  .leftDiv h2 {
    color: var(--secondary7);
    max-width: 100%;
  }
  .leftDiv span {
    color: var(--gray5);
  }

  .rightDiv {
    position: absolute;
    width: 100%;
    overflow: visible;
  }
  .leftDiv {
    width: 100%;
    max-width: 100%;
    top: 0;
    position: relative;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
  }
  .overlay {
    background-color: var(--overlay3);
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(1px);
    top: 0;
    /* min-height: 544px; */
  }
  .judoGrid {
    height: 100%;
    overflow: hidden;
  }
}
