.wrapper {
  display: flex;
  height: 100vh;
  position: relative;
  max-height: 1500px;
  /* max-width: 2000px; */
  margin: 0 auto;
}
.leftDiv {
  margin-top: 150px;
  padding-right: 0;
  width: 40%;
  z-index: 1;
}
.imageWrapper {
  padding-top: 80px;
  width: 55%;
  object-fit: cover;
  height: auto;
}

.leftDiv h1 {
  color: var(--color4);
  padding-bottom: 40px;
}
.leftDiv h2 {
  line-height: 150%;
}
.leftDiv h2:nth-child(2) {
  padding-bottom: 20px;
}
.buttonContainer {
  margin-top: 15%;
  display: flex;
  gap: 15px;
}

.vector {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translate(0, 50%);
}

.imageWrapper img {
  border-top-left-radius: 100px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.circles img {
  position: absolute;
}
.circleL {
  top: 30%;
  left: 25%;
  height: 50vh;
}
.circleM {
  top: 10%;
  left: -10%;
  height: 30vh;
}
.circleS {
  bottom: 10%;
  left: -10%;
  height: 10vh;
}

@media (max-width: 1300px) {
}

@media (max-width: 992px) {
}
